<?xml version="1.0"?>
<opencv_storage>

  <!-- 视频文件名 -->
  <filename>"16.avi"</filename>

  <!-- 宫格内的最低灰度值，低于该灰度值则认为没有数字 -->
  <minGrayValue>50</minGrayValue>

  <!-- 数码管分割灰度阈值 -->
  <ninxiTubeGrayValue>200</ninxiTubeGrayValue>
  
  <!-- Canny 阈值 -->
  <t1>200</t1>
  <t2>250</t2>
  
  <!-- 是否录像，0-不录，1-录像 -->
  <recordVideo>0</recordVideo>
  
  <!-- 相机分辨率 -->
  <Width>800</Width>
  <Height>600</Height>

  <!-- 单个宫格的最大、最小面积 -->
  <MaxArea>8000</MaxArea>
  <MinArea>4000</MinArea>

</opencv_storage>
