<?xml version="1.0"?>
<opencv_storage>
  
  <!-- 视频文件名 -->
  <filename>"16.avi"</filename>

  <!-- 宫格内的最低灰度值，低于该灰度值则认为没有数字 -->
  <minGrayValue>30</minGrayValue>

  <!-- Canny 阈值 -->
  <t1>80</t1>
  <t2>180</t2>
  
  <!-- 相机分辨率 -->
  <Width>800</Width>
  <Height>600</Height>

  <!-- 单个宫格的最大、最小面积 -->
  <MaxArea>8000</MaxArea>
  <MinArea>4000</MinArea>

</opencv_storage>
